:root {
    --clr-dark: #ddd;
    --clr-light: #fff;
    --clr-accent: #1b76d2;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formBox {
    width: 250px;
    max-width: 100%;
    height: 180px;
    margin: 0 auto;
    border: 1px solid var(--clr-dark);
    border-radius: 10px;
    background-color: var(--clr-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formHeader {
    padding: 3px 25px;
    font-family: "Ascender Serif W02 Regular";
    font-weight: 100;
    font-size: 24px;
    color: #1b76d2; /* Color found using photoshop's eyedropper tool on the original design */
}

.form {
    padding: 0px 25px;
}

.formBody {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formBody label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-size: 12px;
}

.formBody input {
    width: 100%;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: block;
    font-size: 9px;
}

.formBody.success input {
    border-color: #2ecc71;
}

.formBody.error input {
    border-color: #e74c3c;
}

.formBody i {
    visibility: hidden;
    position: absolute;
    top: 27px;
    right: 5px;
    font-size: 60%;
}

.formBody.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.formBody.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.formBody small {
    visibility: hidden;
    position: absolute;
    bottom: 1;
    left: 0;
    font-size: 10px;
}

.formBody.error small {
    visibility: visible;
    color: #e74c3c;
}

.formBox button {
    float: right;
    color: #1b76d2;
    border: 2px solid #1b76d2;
    background-color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.formBox button:hover {
    background-color: #1b76d2;
    color: #fff;
}